.panel-container {
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #F25430;
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 0.2s;
}

.panel-title {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.team-name {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.team-selector {
    font-size: 18px;
    margin-bottom: 20px;
    align-self: flex-start;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.compatibility-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 0.4s;
}

.compatibility-table th,
.compatibility-table td {
    padding: 15px;
    border: none;
}

.compatibility-table th {
    background-color: #0E6666;
    color: white;
    font-weight: bold;
}

.compatibility-table td {
    background-color: #f9f9f9;
    color: #333;
}

.apply-button {
    padding: 12px 20px;
    background-color: #0E6666;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    transition: all .5s;
}

.apply-button:hover {
    background-color: #ff9928;
}

.team-input__input select {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
    margin-right: 20px;
}

.team-input {
    display: inline-block;
}

.team-worker th {
    background-color: white;
    color: black;
    font-weight: 400;
}