{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Description -->
    <meta name="description"
          content="">
    <meta name="keywords"
          content="">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap" rel="stylesheet">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'astro_check/css/nullstyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'loginsys/css/loginsys.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'astro_check/css/astro_check.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'astro_check/css/generate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'astro_check/css/team.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'astro_check/css/errors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'astro_check/css/main.css' %}">
    <!-- Title -->
    <title>{{ title }}</title>
</head>
<body style="background: url('{% static 'loginsys/img/background.png' %}');object-fit: cover">
{% if request.resolver_match.url_name != 'main' %}
    <navbar class="navbar">
        <div class="navbar__content">
            <div class="navbar__component navbar__start">
                <a href="{% url 'main' %}">
                    <img src="{% static 'loginsys/img/logo.jpg' %}" alt="logo" class="navbar__logo">
                </a>
            </div>
            <div class="navbar__component">
                <a href="{% url 'main' %}" class="navbar__title">AstroHR</a>
            </div>
            <div class="navbar__component navbar__profile">
                {% if user.is_authenticated %}
                    <div class="navbar__user">@{{ user.username }}</div>
                    <a class="navbar__btn" href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <a class="navbar__btn" href="{% url 'logout' %}">Войти</a>
                {% endif %}
            </div>
        </div>
    </navbar>
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>