{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Description -->
    <meta name="description"
          content="">
    <meta name="keywords"
          content="">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'loginsys/loginsys.css' %}">
    <!-- Title -->
    <title>{{ title }}</title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>